@import "../../../assets/colors/Colors.scss";
@import "../../../assets/configuration/Сonfiguration.scss";

.table {
  width: 70%;
  // margin: 0 auto;
  padding: 5px 10px;
  background-color: $color-three;
  border-radius: $border-radius;
}

.header {
  background-color: $color-four;
  padding: 11px;
  font-size: 20px;
  border-radius: $border-radius;
}

.row {
  padding: 8px;
  background-color: $color-one;
  border-radius: $border-radius;
}

.icon {
  font-size: 20px;
  transition: all 0.4s;
}

.iconDel {
  font-size: 20px;
  transition: all 0.4s;
  color: rgba(255, 27, 27, 0.822);
}

.icon:hover {
  color: $color-four;
}

.iconDel:hover {
  color: $color-four;
}
