@import "../../assets/colors/Colors.scss";
@import "../../assets/configuration/Сonfiguration.scss";

.tools {
  width: 70%;
  display: flex;
  gap: 10px;
  justify-content: right;
  background-color: $color-three;
  padding: 12px 15px;
  border-radius: $border-radius;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn {
  font-size: 18px;
  color: $color-two;
  padding: 7px 15px;
  background-color: $color-four;
  border-radius: $border-radius;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: $color-four 0px 0px 15px;
}

.search {
  display: flex;
  align-items: center;
  gap: 9px;
  background-color: $color-one;
  width: 100%;
  border-radius: $border-radius;
  padding: 0px 10px;
}

.searchInp {
  background-color: $color-one;
  padding: 10px 15px;
  width: 100%;
}

.searchIcon {
  color: $color-two;
}
