@import "../../assets/colors/Colors.scss";
@import "../../assets/configuration/Сonfiguration.scss";

.tools {
  width: 70%;
  display: flex;
  justify-content: right;
  background-color: $color-three;
  padding: 12px 15px;
  border-radius: $border-radius;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.form {
  color: $color-two;
}

.btn {
  font-size: 18px;
  color: $color-two;
  padding: 7px 15px;
  background-color: $color-four;
  border-radius: $border-radius;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: $color-four 0px 0px 15px;
}

.modalBtns {
  display: flex;
  gap: 5px;
  width: 100%;
}
