@import "../../assets/colors/Colors.scss";
@import "../../assets/configuration/Сonfiguration.scss";

.form {
  color: $color-two;
}

.btn {
  font-size: 18px;
  color: $color-two;
  padding: 7px 15px;
  background-color: $color-four;
  border-radius: $border-radius;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: $color-four 0px 0px 15px;
}

.modalBtns {
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 10px 0px;
}

.help {
  position: absolute;
  right: -5px;
  top: 20%;
  padding: 20px;
  background-color: $color-three;
  max-width: 250px;
  border-radius: $border-radius;
  opacity: 90%;
}
